.Brag ul {
    list-style: square;
    list-style: disclosure-open;
}

.Brag li {
    margin-bottom: 0.5em;
}

.Brag__date {
    margin-right: 0.5em;
}

.Brag__name {
    margin-right: 0.5em;
}

.Brag__sublist {
    margin-left: 1em;
}

.Brag__sublist li {
    font-size: 80%;
    margin-bottom: 0;
}