.PageTitle {
    position: relative;
}

a.PageTitle__navigate_index {
    position: absolute;
    left: -1em;
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
