.Tile {
    font-weight: bold;
    padding-top: 2em;
    padding-left: 0.1em;
    display: flex;
    flex-direction: column;
    color: white;
}

.Tile a, .Tile a:visited {
    color: white;
}

.Tile__header {
    text-transform: uppercase;
    font-size: 250%;
    position: relative; /*To allow positioning of external link*/
    padding-right: 1em; /*To leave space for the external link symbol*/
}

.Tile__body {
    font-size: 140%;
    border-bottom: 3px solid;
    text-transform: uppercase;
    color: #ccc;
}

.Tile__date, .Tile__activityType {
    display: inline-block;
    font-size: 120%;
}

.Tile__external-link {
    height: 0.8em;
    position: absolute;
    right: 0;
    top: 0.1em;
    opacity: 0.7;
}